<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/template/index.html">Mini-Me</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/template/ageGuess.html">Age Convertor</a>
                </li>
                <li>
                    <a class="nav-link" href="/template/rps.html">Rock, Paper, Siccors</a>
                </li>
                <li>
                    <a class="nav-link" href="/template/">BlackJack</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>This website is to host different mini games.</p>
            <p>Please click on the one you'd like to play in the navigation bar.</p>
          </div>
        </div>
      </main>
</body>
</html>